body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: linear-gradient(to left, #b92b27, #1565c0)*/
    background: white;
}

.button-wrapper .btn {
    margin-bottom:5px;
}