<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error Landing Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} " />
</head>

<body>
    <main>

    </main>

    <h4>There has been an error...</h4>
    <a href="/logout" role="button" class="btn btn-outline-warning">Logout</a>

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.1/umd/popper.min.js}"></script>
</body>

</html>

<style>
    body{
        background-color: #F5F5F5;
    }
    h4 {
        margin-top: 30px;
        margin-left: 1vw;
        text-align: center;
    }

    .btn {
        background-color: white;
        text-decoration: none;
        color: black;
        margin:0 auto;
        display:block;
        width: 10vw;
        margin-top: 20px;
    }

    .btn:hover,
    .btn:active {
        text-decoration: none;
        color: black;
    }
</style>