<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Equipment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} " />

</head>

<body>
<div class="container my-5">
    <h2 class="mb-3"><b>Add new Equipment here</b></h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/home/partner/addEquipment/submit}" th:object="${equipment}" method="POST">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="equipmentName" class="col-form-label">Equipment Name</label>
                        <select th:field="*{equipmentName}" class="form-control" id="equipmentName">
                            <option value="Lorry">Lorry</option>
                            <option value="Truck">Truck</option>
                            <option value="Trailer">Trailer</option>
                            <option value="Crane">Crane</option>
                        </select>
                        <label for="model" class="col-form-label">Model</label>
                        <input
                        type="text"
                        th:field="*{model}" id="model"
                        class="form-control"
                      />
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></div>
                        <label for="manufactureYear" class="col-form-label">Year Manufactured</label>
                        <input
                        type="text"
                        th:field="*{manufactureYear}" id="manufactureYear"
                        class="form-control"
                      />
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('manufactureYear')}" th:errors="*{manufactureYear}"></div>
                        <label for="description" class="col-form-label">Equipment Description</label>
                        <input
                        type="text"
                        th:field="*{description}" id="description"
                        class="form-control"
                      />
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-2">
                        <button class="btn btn-primary" type="submit" >
<!--                        <input type="submit" value="Add Equipment">-->
                            Add Equipment
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.1/umd/popper.min.js}"></script>
</body>

</html>

<style>
    h4 {
        margin-bottom: 20px !important;
    }
</style>