<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Equipment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Update Equipment</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/equipments/update/{id}(id=${equipment.id})}" th:object="${equipment}" method="POST">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="description" class="col-form-label">Description</label>
                        <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="category" class="col-form-label">Category</label>
                        <input type="text" th:field="*{category}" class="form-control" id="category" placeholder="Category">
                        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="length" class="col-form-label">Length of Equipment</label>
                        <input type="number" step="0.01" th:field="*{length}" class="form-control" id="length" placeholder="Length">
                        <span th:if="${#fields.hasErrors('length')}" th:errors="*{length}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="width" class="col-form-label">Width of Equipment</label>
                        <input type="number" step="0.01" th:field="*{width}" class="form-control" id="width" placeholder="Width">
                        <span th:if="${#fields.hasErrors('width')}" th:errors="*{width}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="height" class="col-form-label">Height of Equipment</label>
                        <input type="number" step="0.01" th:field="*{height}" class="form-control" id="height" placeholder="Height">
                        <span th:if="${#fields.hasErrors('height')}" th:errors="*{height}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="weight" class="col-form-label">Weight of Equipment</label>
                        <input type="number" step="0.01" th:field="*{weight}" class="form-control" id="weight" placeholder="Weight">
                        <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Update Equipment">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>